@use '../abstracts/' as *;
/****************************FORMHEADER*******************************************************/

#formHeader {
    width: 100%;
    background-color: $greyblue;
    padding: 25px;
    @include flexPosition(row, center, center);
    form {
        width: 100%;
        @include flexPosition(row, center, flex-start);
        font-size: 20px;
        gap: 15px;
        margin-left:100px;
        label {
            position: relative;
            .visibility-hidden{
                position: absolute;
                span {
                    color: $greenfooter;
                }
            }
        }
        input[type=text] {          
            background: $greyblue;
            border: none;
            font-size: 20px;
            &:focus{
                outline: none;
            }
            &::placeholder {
                color: $greenfooter;
            }
        }       
    }
}