@use '../abstracts/' as *;
/****************************HEARTS*******************************************************/

.like {
    position: relative;
    font-size: 25px;
    font-weight: 100;
    justify-self: flex-end;
    align-self: center;
    @include flexPosition(row, center, center);
    position: relative;
    cursor: pointer;
    .fa-heart {
      align-self: center;
    }
    .fa-regular {
      color: $darkred;
      opacity: 1;
      transition: 0.3s ease-in;
    }
    &:hover .fa-regular, &:visited .fa-regular {
      opacity: 0;
    }
    .fa-solid {
      color: transparent;
      background-image: $linearBlue;
      background-clip: text;
      opacity: 0;
      transition: 0.3s ease-in;
    }
    &:hover .fa-solid, &:visited .fa-solid {
      opacity: 1;
    }
} 