@use '../abstracts/' as *;

.loaderMaison {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    height: 100vh;
    inset: 0;
    z-index: 99;
    opacity: .9;
    animation: disappear 300ms $animation-duration forwards;
    transform-origin: top;
    &::before {        
        content: 'ohmyfood';
        text-align: center;
        font-family: $fontTitle;
        font-size: 20px; 
        padding: 90px;       
        width: 105px;
        height: 105px;       
        align-self: center;
        justify-self: center;
        border-radius: 50%;
        border-left: 10px solid red;
        border-top: 10px solid blue;
        border-right: 10px solid green;
        border-bottom: 10px solid yellow;  
        animation: spin $animation-duration infinite linear;        
    }
   
}

@keyframes disappear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes spin {
   100% {
        transform: rotate(360deg); 
       
    }
}

