@use 'variables' as *;

@mixin boxShadowButton(){
    box-shadow: 5px 5px 10px rgba(32, 24, 24, 0.289);
}
@mixin flexPosition($direction, $justify, $align) {
    display: flex;
    flex-direction: #{$direction};
    justify-content: #{$justify};
    align-items: #{$align};
    gap: 25px;
}
@mixin flexPositionSimple ($direction, $justify){
    display: flex;
    flex-direction: #{$direction};
    justify-content: #{$justify};
}
@mixin zoomTransform {
    transform: scale(1.02);
}
@mixin zoomTransition {
    transition: .2s ease;
}
@mixin buttonBlue {
        color:$blue;
        border-radius: 25px;
        padding: 15px 25px;
        background: linear-gradient(0.45turn, #FF79DA, #9356DC);
        color:#fff;
        border: none;
        margin-bottom: 25px;
        opacity: 1;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover{
            @include zoomTransform();
            opacity: .85;
        }
}
@mixin imagePosition {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
