@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap';
/* Colors */
/* Linear gradient */
/* Fonts */
/* Title Level */
/* Animation */
/****************************SETTINGS*******************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 992px) {
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
}
/*********************************************************************************************
*************************************************HEADER***************************************
**********************************************************************************************/
header {
  width: 100%;
  position: relative;
  top: 0;
  background: #fff;
  padding: 20px 0;
  box-shadow: 0 3px 3px 1px grey;
  z-index: 2;
}
header h1 {
  font-family: "Shrikhand", serif;
  text-align: center;
}
header .returnHome {
  font-size: 30px;
  position: absolute;
  top: 25px;
  left: 5px;
}

/*********************************************************************************************
**********************************************MAIN********************************************
**********************************************************************************************/
main {
  display: flex;
  flex-direction: column;
}

/*********************************************************************************************
*************************************************FOOTER***************************************
**********************************************************************************************/
footer {
  bottom: 0;
  margin-top: 0;
  background: #353535;
  padding: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
  gap: 10px;
  z-index: 2;
}
footer nav {
  gap: 15px;
  color: #fff;
}
@media screen and (min-width: 992px) {
  footer nav {
    width: 99%;
    align-self: flex-start;
  }
}
footer h2 {
  font-family: "Shrikhand", serif;
  padding-bottom: 15px;
  font-size: 24px;
}
footer li {
  display: flex;
  padding-bottom: 6px;
}
footer .fa-solid {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
footer li > a {
  color: #fff;
}

/****************************FORMHEADER*******************************************************/
#formHeader {
  width: 100%;
  background-color: #EAEAEA;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#formHeader form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  font-size: 20px;
  gap: 15px;
  margin-left: 100px;
}
#formHeader form input[type=text] {
  background: #EAEAEA;
  border: none;
  font-size: 20px;
}
#formHeader form input[type=text]:focus {
  outline: none;
}

/****************************HERO*******************************************************/
#hero {
  background-color: #F6F6F6;
  padding: 25px;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#hero h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
}
#hero p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 25px;
}
#hero .btn {
  color: blue;
  border-radius: 25px;
  padding: 15px 25px;
  background: linear-gradient(0.45turn, #FF79DA, #9356DC);
  color: #fff;
  border: none;
  margin-bottom: 25px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 10px rgba(32, 24, 24, 0.289);
  transition: 0.2s ease;
}
#hero .btn:hover {
  transform: scale(1.02);
  opacity: 0.85;
}
#hero .btn:hover {
  transform: scale(1.02);
}

/****************************FUNCTIONSLIST*******************************************************/
#functionsList {
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
#functionsList h2 {
  font-size: 30px;
  align-self: flex-start;
  margin-bottom: 25px;
  margin-left: 0;
}
#functionsList ol {
  counter-reset: section;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  #functionsList ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  #functionsList ol {
    flex-direction: row;
    justify-content: space-between;
  }
}
#functionsList ol li {
  list-style-type: none;
  background-color: #F6F6F6;
  width: 100%;
  padding: 15px 15px 15px 5px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 5px 5px 10px rgba(32, 24, 24, 0.289);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.2s ease;
}
#functionsList ol li:hover {
  transform: scale(1.02);
}
#functionsList ol li::before {
  counter-increment: section;
  content: counter(section);
  background: #9356DC;
  padding: 5px 10px;
  border-radius: 50%;
  margin-left: -15px;
  margin-right: 15px;
  justify-self: left;
  color: #fff;
}
@media screen and (min-width: 768px) {
  #functionsList ol li {
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  #functionsList ol li {
    width: 31%;
  }
}
#functionsList ol li .fa-solid {
  align-self: center;
  color: #7E7E7E;
  font-size: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#functionsList ol li a {
  display: block;
  align-self: center;
  justify-self: flex-start;
  color: black;
  font-size: 0.9em;
  font-weight: 800;
  text-decoration: none;
  padding-right: 30px;
  margin-left: 20px;
}

/**************************************RESTAURANT CARDS*********************************************/
#restaurantCards {
  margin-top: 50px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: #F6F6F6;
}
#restaurantCards h2 {
  font-size: 30px;
  align-self: flex-start;
  padding: 25px 0 5px 0;
  margin-left: 0;
}
#restaurantCards .cards_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 25px;
}
@media screen and (min-width: 768px) {
  #restaurantCards .cards_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
#restaurantCards .cards_container .card {
  height: 220px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(32, 24, 24, 0.289);
  border-radius: 16px;
  overflow: hidden;
  color: #000000;
  transition: 0.2s ease;
}
@media screen and (min-width: 768px) {
  #restaurantCards .cards_container .card {
    justify-self: center;
    width: 48%;
  }
}
@media screen and (min-width: 992px) {
  #restaurantCards .cards_container .card {
    height: 450px;
  }
}
#restaurantCards .cards_container .card:hover {
  transform: scale(1.02);
}
#restaurantCards .cards_container .card .image {
  position: relative;
  height: 75%;
}
#restaurantCards .cards_container .card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#restaurantCards .cards_container .card .image .new {
  background: #99E2D0;
  color: #008766;
  position: absolute;
  padding: 5px 7px;
  font-size: 18px;
  top: 10%;
  right: 5%;
  z-index: 1;
}
#restaurantCards .cards_container .card .content {
  background: #fff;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 25px;
}
#restaurantCards .cards_container .card .content .contentText {
  white-space: nowrap;
  text-overflow: ellipsis;
}
#restaurantCards .cards_container .card .content .contentText h3 {
  font-size: 16px;
}

/****************************MENU PAGE*******************************************************/
#container {
  display: flex;
  flex-direction: column;
  margin-bottom: -25px;
}
@media screen and (min-width: 992px) {
  #container {
    width: 100%;
  }
}

.imageheading {
  width: 100%;
  height: 300px;
}
.imageheading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menuContainer {
  position: relative;
  height: auto;
  top: -25px;
  border: none;
  border-radius: 25px 25px 0 0;
  background-color: #F6F6F6;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menuContainer .title {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menuContainer .title h2 {
  font-family: "Shrikhand", serif;
  text-align: center;
}
.menuContainer .contentMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.menuContainer .btn {
  color: blue;
  border-radius: 25px;
  padding: 15px 25px;
  background: linear-gradient(0.45turn, #FF79DA, #9356DC);
  color: #fff;
  border: none;
  margin-bottom: 25px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  align-self: center;
  width: 250px;
}
.menuContainer .btn:hover {
  transform: scale(1.02);
  opacity: 0.85;
}

/****************************MENU COMPOSANTS*******************************************************/
.categorie__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 35px 20px;
}
@media screen and (min-width: 992px) {
  .categorie__menu {
    width: 32%;
  }
}
.categorie__menu--title {
  color: rgb(45, 4, 4);
  font-weight: 100;
  text-transform: uppercase;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.categorie__menu--title::after {
  content: "";
  height: 5px;
  width: 55px;
  background-color: #99e2d0;
}
.categorie__menu .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: 15px 0;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(32, 24, 24, 0.289);
  transition: 0.2s ease;
  animation: itemsappear 1s;
  animation-fill-mode: both;
}
.categorie__menu .card:nth-child(2) {
  animation-delay: 200ms;
}
.categorie__menu .card:nth-child(3) {
  animation-delay: 300ms;
}
.categorie__menu .card:nth-child(4) {
  animation-delay: 400ms;
}
.categorie__menu .card:nth-child(5) {
  animation-delay: 500ms;
}
.categorie__menu .card:hover {
  transform: scale(1.02);
}
.categorie__menu .card__content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.categorie__menu .card__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.categorie__menu .card__info .card__price {
  padding: 10px;
  align-self: flex-end;
  justify-self: center;
  font-weight: 700;
  transition: 0.5s ease;
}
.categorie__menu .card__info .card__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: #99e2d0;
  color: #fff;
  width: 50px;
  height: 58px;
  margin-right: -50px;
  transition: all 0.2s ease-in;
}
.categorie__menu .card__info .card__check .fa-regular {
  font-size: 30px;
  font-weight: 900;
  align-self: center;
  justify-self: center;
  transform: rotate(180deg);
  transition: all 0.5s ease-in;
}
.categorie__menu .card__info:hover .card__check {
  margin-right: 0;
}
.categorie__menu .card__info:hover .fa-regular {
  transform: rotate(360deg);
}
.categorie__menu .card .card__content {
  overflow: hidden;
}
.categorie__menu .card .card__content h4,
.categorie__menu .card .card__content p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/****Animations*****/
@keyframes itemsappear {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/****************************HEARTS*******************************************************/
.like {
  position: relative;
  font-size: 30px;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
}
.like .fa-heart {
  align-self: center;
}
.like .fa-regular {
  color: #3A3A3A;
}
.like .fa-solid {
  color: transparent;
  background-image: linear-gradient(0.45turn, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  opacity: 0;
  transition: 0.3s ease-in;
}
.like:hover .fa-solid {
  opacity: 1;
}

/****************************LOADER*******************************************************/
.loader {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: #fff;
  height: 100vh;
  inset: 0;
  z-index: 99;
  opacity: 0.9;
  animation: disappear 200ms 3s forwards;
  transform-origin: top;
}
.loader i {
  animation: spin 3s infinite linear;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */