@use '../abstracts/' as *;
/****************************SETTINGS*******************************************************/

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontWebsite;
}
html {
    scroll-behavior: smooth;
}
body{
    position: relative;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color:$black;
}
@media screen and (min-width:992px) {
    .wrapper {
        max-width: 1440px;
        margin: 0 auto;
    }    
}